<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Urban Pro | Home</title>
  <link rel="stylesheet" href="./header.js" />
</head>
<body class="body ">
  <div class="home">
    <header class="home__header">
      <h1 class="home__logo">Urban<span class="home__logo--highlight">Pro</span></h1>
      <nav class="home__nav">
        <a href="#" class="home__nav-link">Inicio</a>
        <a href="#" class="home__nav-link">Categorías</a>
        <a href="#" class="home__nav-link">Perfil</a>
      </nav>
    </header>
  </div>
</body>
</html>